.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

p, label, .form-control-sm {
    font-size: 0.8em;
    line-height: 1.2em;
}
.fs-smaller {
    font-size: 0.6em;
}
a, a:visited {
    text-decoration: none;
    color: #3B829A;
}
a:hover {
    text-decoration: underline;
    color: #2C6273;
}
.text-left {
    text-align: left!important;
}
.text-right {
    text-align: right!important;
}

.btn-primary, .btn-primary:focus, .btn-primary:visited {
    background-color: #F1B71C;
    border-color: #F1B71C;
    border-radius: 0.5rem;
}
.btn-primary:hover {
    background-color: #F7D477;
    border-color: #F7D477;
}
.btn-secondary, .btn-secondary:focus, .btn-secondary:visited {
    color: #000;
    background-color: #F1B71C;
    border-color: #000;
    border-width: 2px;
}
.btn-secondary:hover {
    color: #000;
    background-color: #F7D477;
    border-color: #000;
}
#btn-answer {
    padding: 24px 16px;
    border-radius: 1rem;
}
/* .btn-success {
    background-color: #B58915;
    border-color: #B58915;
} */
.modal-header {
    border-bottom: none;
}
.modal-footer {
    justify-content: center;
    border-top: none;
}
#modal-voluntary {
    background-color: rgba(0,0,0,0,5);
}

.form-survey {
    width: 100%;
    max-width: 420px;
    padding: 15px 30px;
    margin: auto;
}
.form-blue {
    background-color: #EAF3FA;
    border: solid 1px #6c757d;
    padding: 1rem;
}
.form-survey .form-check-input {
    margin-left: 1rem;
}
.form-survey .form-check-label {
    width: calc(100% - 2.5rem);
}
.form-survey .form-control-sm {
    margin-left: 2.25rem;
    width: calc(100% - 2.25rem)
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}